body {
    margin: 0;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #121212;

    background: url("img/line-bg-min.png");
}

.page {
    width: 800px;
    margin: 20px auto;

    background-color: #fff;
}

/*Header*/

.header {
    padding: 20px;
    background-color: #121212;
}

.header-title {
    margin: 0;
    font-size: 24px;
    color: #fff;
    text-align: center;
}
.header-subtitle {
    margin: 0;
    font-size: 16px;
    color: rgb(92, 180, 239);
    text-align: center;
    font-weight: 400px;
}


/*Nav*/

.nav {
    text-align: center;
}

.nav-link {
    display: inline-block;
    padding: 8px 12px;
    color: #121212;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #eee;
}

.read-more {
    text-decoration: none;
    color: rgb(91, 198, 231);
}
.read-more:hover {
    text-decoration:underline;
}

/*Content*/

.content {
    padding: 20px;
}

.content-title {
    margin: 0 0 15px;
    font-size: 24px;
    color: rgb(48, 45, 56);
}

.content-text {
    margin-bottom: 20px;
}

/*Article*/

.article {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
}

.article-title {
    margin: 0 0 5px;
    font-size: 18px;
    color: #615454;
}
.article-title a {
    color: inherit;
    text-decoration: none;
}
.article-title a:hover {
    text-decoration:underline;
}

.article-date {
    font-size: 12px;
    color: #ccc;
}

/*footer*/

.footer {
    padding: 20px;
    background-color: #121212;
    color: #fff;
    text-align: center;
}